@model Common.ViewModels.Lica.LicaRegisterComposite
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row lica-register-table-row col-md-12 pl-0 pr-0">
    <partial model="Model.AllLica" name="../PartialViews/LicaRegisterTableFilterPartial" />
</div>
