@using Common.Enums.User
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="column" style="width:70%"><h1>Ръководство за потребителя</h1></div>
    <div class="column" style="width:30%;margin-top:20px; "><a href="Help/DownloadHelpFile">[Изтегляне на ръководството]</a></div>
</div>


<style>
   .column {
      float: left;
      height: 100px;
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
    }
</style>