<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IRegiXEntryPointV2" maxReceivedMessageSize="10000000">
					<security mode="Transport">
						<transport clientCredentialType="Certificate"></transport>
					</security>
				</binding>
			</basicHttpBinding>			
        </bindings>
		
		<behaviors>
			<endpointBehaviors>
				<behavior name="RegiXClientCertificate">
					<clientCredentials>
						<clientCertificate x509FindType="FindByThumbprint"
										   storeLocation="LocalMachine"
										   storeName="My"
										   findValue="ec912002fbf7267c53357b29c2139efefa29401c" />
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
        <client>
            <endpoint behaviorConfiguration="RegiXClientCertificate"
				address="https://service-regix.egov.bg/RegiXEntryPointV2.svc/basic"
                binding="basicHttpBinding" 
				bindingConfiguration="BasicHttpBinding_IRegiXEntryPointV2"
                contract="ServiceReference1.IRegiXEntryPointV2" 
				name="BasicHttpBinding_IRegiXEntryPointV2" />
        </client>
    </system.serviceModel>
</configuration>