@model Common.ViewModels.List.NormiRoliWithMoneyViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<input asp-for="Id" type="hidden" />
<input asp-for="Nkode" type="hidden"/>
<input asp-for="Nime" type="hidden" />
<input asp-for="Pkode" type="hidden" />
<input asp-for="SilaId" type="hidden" />
<input asp-for="Tur" type="hidden" />

<div class="row">
    <label>@Model.Nime</label>
    <input asp-for="Money" class="form-control" placeholder="*" onfocus="this.placeholder = ''" onblur="this.placeholder = '*'"/>
    <span asp-validation-for="Money" class="text-danger"></span>
</div>

<div class="row">
    <div class="form-group col-md-12 form-inline mt-2 p-0">
        <div>
            <label class="checkbox-container text-left">
                Активно?
                <input asp-for="Status" class="form-check-input" type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
</div>