
.navbar {
    background-color: cornflowerblue;
    color: white;
    padding: 0;
}

.nav-item {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 100px;
}

.nav-link {
    padding-top: 0;
    color: white;
    height: 100%;
}

.nav-link:hover {
    color: white;
}

.navbar .nav-img{
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
}

.nav-img-p{
    margin: 0;
    font-size: 13px;
}

@media screen and (max-height: 768px) {
    .nav-img-p {
        font-size: 11px;
    }
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding: 0;
}

a.navbar-brand {
    word-break: break-word;
    color: white;
}

.image-space-placeholder {
    height: 25px;
    width: 25px;
}

.navbar-toggler-icon {
    background-image: url(../img/hamburger-ico.png);
    height: 48px;
    width: 48px;
}

.footer {
    background-color: cornflowerblue;
    color: white;
    height: 40px;
    line-height: 39px;
}

.row {
    margin: 0;
}

.nav-link-btn-link {
    background-color: cornflowerblue;
    border: none;
    cursor: pointer;
    color: white;
    height: 100%;
    padding: 0;
}

.nav-link-btn-link:focus {
    outline: none;
}

.navbar-container {
    max-width: 100%;
}

.navbar-toggler:focus {
    outline: none;
}

.pagination-col {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
}

.page-link {
    width: 50px;
    height: 50px;
    border: 1px solid #0062cc;
    color: #0062cc;
    background-color: #f8f9fa;
    border-width: 1px;
    border-radius: 8px;
    margin: 1px;
    font-size: 14px;
}


.page-link:hover {
    background-color: gray;
    color: white;
}

.page-item:last-child .page-link {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.page-link-placeholder {
    width: 50px;
    height: 50px;
}

.page-item.disabled .page-link {
    border-width: 1px;
    border: 1px solid lightgray;
    background-color: #f8f9fa;
    color: lightgray;
    font-size: 14px;
}

.pagination {
    margin-bottom: 0;
}

.form-control::placeholder {
    color: red;
}
/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
    color: red;
}
/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
    color: red;
}
/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
    color: red;
}
/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
    color: red;
}
/* Microsoft Edge */

.lds-ring {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2000;
    top: 0;
    left: 0;
}

.lds-ring div{
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
}

.lds-ring div div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 6px;
    border: 15px solid #cef;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: cornflowerblue transparent transparent transparent;
    left: 0;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
}

.lds-ring div div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@media screen and (max-width: 991px) {
    .navbar-nav > :first-child {
        border-top: white 0.5px solid;
    }

    .navbar-nav > :last-child {
        border-bottom: none;
    }

    .nav-item {
        padding-bottom: 3px;
    }

    .nav-item {
        height: 87px;
        text-align: center;
        margin: 0;
        border-bottom: white 0.5px solid;
    }

    .nav-link {
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .image-space-placeholder {
        height: 0;
        width: 0;
    }

    a.navbar-brand {
        margin-right: 0;
        margin-left: 1.8rem;
    }
}

.nav-item:hover {
    padding-bottom: 0;
    border-bottom: none;
    border-bottom: 3.5px solid white;
}