@media print {
    .noPrint {
        display: none;
    }


    #printbtn {
        display: none;
    }

    @page {
        size: A4;
    }

    body {
        color: #000;
        background-color: #fff;
    }

    header, footer, aside, nav, form, iframe, .menu, .hero, .adslot, .table td, .table th {
        display: none;
    }

}

.table th {
    color: #000 !important;
}

.prnbtn {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
}

/* When you mouse over the navigation links, change their color */
.prnbtn:hover {
    background-color: gray;
}

thead {
    display: table-header-group;
}

tfoot {
    display: table-header-group;
}
